layout {
    pane split_direction="vertical" {
        pane {
            command "bash"
            args "-c" "bun --hot backend/src/orpc/server.ts"
        }
        pane {
            command "bash"
            args "-c" "cd frontend && bun run dev"
        }
    }
}
